.Container {
    $mobile-padding: 4rem;
    $desktop-padding: 2rem;

    padding-left: $mobile-padding / 2;
    padding-right: $mobile-padding / 2;
    margin: 0 auto;
    width: calc(100% - #{$mobile-padding});

    @include media-breakpoint-up(md) {
        max-width: calc(768px - #{$mobile-padding});
    }

    @include media-breakpoint-up(lg) {
        padding-left: $desktop-padding / 2;
        padding-right: $desktop-padding / 2;
        width: calc(100% - #{$desktop-padding});
        max-width: calc(1024px - #{$desktop-padding});
    }

    @include media-breakpoint-up(xl) {
        max-width: calc(1200px - #{$desktop-padding});
    }

    @include media-breakpoint-up(wd) {
        max-width: calc(1600px - #{$desktop-padding});
    }
}