.Button {
  position: relative;
  display: inline-block;
  max-width: 100%;
  padding: .875rem 3.125rem;
  border: 1px solid skin(terracota);
  font-weight: 800;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  line-height: 1.25;
  cursor: pointer;
  background-color: skin(terracota);
  border-radius: 10px;
  color: skin(white);
  transition: background-color .25s ease, border-color .25s ease, color .25s ease;

  &:hover {
    background-color: #D96A4D;
    border-color: #D96A4D;
    text-decoration: none;
  }

  &:focus {
    box-shadow: 0 0 5px skin(primary);
    text-decoration: none;
  }

  &--secondary {
    background-color: skin(teal);
    border-color: skin(teal);
    
    &:hover {
      background-color: skin(slate);
      border-color: skin(slate);
    }

    &:focus {
      box-shadow: 0 0 5px skin(secondary);
    }
  }

  &[disabled] {
    background: grey(60);
    color: skin(charcoal);
    border-color: grey(60);
    cursor: not-allowed;
  }

  &--ghost {
    background-color: transparent;
    color: skin(terracota);
    border-color: skin(terracota);
    font-weight: 400;

    &:hover {
      color: skin(white);
      background-color: skin(terracota);
    }

    &.Button--secondary {
      color: skin(teal);
      border-color: skin(teal);
      font-weight: 800;

      &:hover {
        color: skin(white);
        background-color: skin(teal);
      }
    }

    &.Button--white {
      color: skin(white);
      border-color: skin(white);

      &:hover {
        color: skin(charcoal);
        background-color: skin(white);
      }
    }

    &[disabled] {
      background-color: transparent;
      border-color: grey(60);
      color: grey(60);
    }
  }

  &--icon {
    padding: .75rem 3.125rem;

    svg {
      @include size(1.5rem);
    }
  }

  &--text {
    background: transparent;
    border-color: transparent;
    color: skin(terracota);
    font-weight: 500;
    padding: 0;

    &:hover {
      background: transparent;
      border-color: transparent;
      color: skin(charcoal);
    }

    &[disabled] {
      background: transparent;
      border-color: transparent;
      color: grey(60);
    }
  }
}