.ImageBlock {
    border-radius: 10px;
    overflow: hidden;
    position: relative;

    &-wrapper {
        position: relative;
        display: flex;

        &:before {
            content: '';
            @include position(absolute, 0);
            background: rgba(57, 51, 57, .6);
            z-index: z("base");
        }
    }

    &-caption {
        @include position(absolute, null 0 0 0);
        padding: 0 1.75rem 1.75rem;
        z-index: z("above");
        color: skin(white);
    }

    &-tag {
        @include position(absolute, 2.375rem null null 0);
        font-weight: 800;
        @include fontSize(13px);
        padding: .5rem 1.875rem;
        background-color: skin(slate);
        color: skin(white);
        z-index: z("above");
        border-radius: 0px 5px 5px 0px;
    }
}