$shadow-button1: 0px 10px 20px rgba(0, 0, 0, 0.15);
$shadow-button2: 0px 20px 40px rgba(0, 0, 0, 0.25);

$shadow-card1: 0px 15px 30px rgba(0, 0, 0, 0.15);
$shadow-card2: 0px 30px 60px rgba(0, 0, 0, 0.25);