/**umb_name:Display 1*/ 
.text-8xl {
	font-size: 5.938rem;
	line-height: 1
}

/**umb_name:Display 2*/ 
.text-7xl {
	font-size: 4.75rem;
	line-height: 1
}

/**umb_name:Display 3*/ 
.text-6xl {
	font-size: 3.813rem;
	line-height: 1
}

/**umb_name:Heading 2*/ 
h2 { 
	font-weight: 900; 
	font-size: 3.063rem; 
} 
 
/**umb_name:Heading 3*/ 
h3 { 
	font-weight: 900; 
	font-size: 2.438rem; 
} 
 
/**umb_name:Heading 4*/ 
h4 { 
	font-weight: 900; 
	font-size: 1.938rem; 
} 
 
/**umb_name:Heading 5*/ 
h5 { 
	font-weight: 900; 
	font-size: 1.563rem; 
} 
 
/**umb_name:Heading 6*/ 
h6 { 
	font-weight: 900; 
	font-size: 1.25rem; 
} 

/**umb_name:Font Weight 500*/ 
.font-medium { 
	font-weight: 500; 
} 

/**umb_name:Font Weight 700*/ 
.font-bold { 
	font-weight: 700; 
} 

/**umb_name:Font Weight 800*/ 
.font-extrabold { 
	font-weight: 800; 
} 

/**umb_name:Font Weight 900*/ 
.font-black { 
	font-weight: 900; 
} 

/**umb_name:*/ 
.font-black { 
	font-weight: 900; 
} 

